---
import '../styles/global.css';
import Navigation from '../components/navigation.astro';
import Footer from '../components/footer.astro';
const pageTitle = "About";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="content">
		<h1>{pageTitle}</h1>
		<Navigation />

		<p>
			Hi! I am a student and developer, currently studying Computer Science at the <a target="_blank" rel="noreferrer" href="https://virginia.edu">University of Virginia</a>. My field of interests is quite extensive, ranging from machine learning to quantum computing, and even human behavior and psychology.
		</p>
		<p>
			I've always enjoyed reading and learning about various subjects, so much so that I've dedicated an entire page to talk about what I have and currently am <a href="/learning">learning</a>. 
			For the past two summers, I've worked with <a target="_blank" rel="noreferrer" href="https://www.verizon.com/about">Verizon</a> as a Network Engineering Intern, where I've had the opportunity to work on various software engineering projects and learn about the telecommunications industry.
		</p>
		<p>
			For more information about me and my and interests, feel free to explore my <a href="/thoughts">written works</a>, <a href="/projects">projects</a>, and other social channels.</p>
		</p>
	</body>
	<Footer />
</html>
