---
import '../styles/global.css';
import Navigation from '../components/navigation.astro';
import Footer from '../components/footer.astro';
const pageTitle = "Learning";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svwg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="content">
		<h1>{pageTitle}</h1>
        <Navigation />

        <div class="container">
            <div class="post">
                <a href="/posts/quantum/" class="post-link">IBM Quantum</a>
                <span class="date">Quantum Computing, Python</span>
            </div>
            <br>
            <br>
	</body>
    <Footer />
</html>
