---
import '../styles/global.css';
import Navigation from '../components/navigation.astro';
import Footer from '../components/footer.astro';
const pageTitle = "Learning";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="content">
		<h1>{pageTitle}</h1>
        <Navigation />
		<h2>This is where I will talk about the things I'm learning</h2>
	</body>
    <Footer />
</html>
