---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
    <a href="/">About</a>
    <a href="/thoughts/">Thoughts</a>
	<body>
		<h1>Projects</h1>
		<h2>This is where I display the projects I am working on</h2>
	</body>
</html>
