---
import '../styles/global.css';
import Navigation from '../components/navigation.astro';
import Footer from '../components/footer.astro';
const pageTitle = "Projects";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="content">
		<h1>{pageTitle}</h1>
        <Navigation />
        <p>
            Here are some of the projects I've worked on:
        </p>
		<div class="container">
            <div class="item">
                <a target="_blank" rel="noreferrer" href="https://github.com/wang-anthony03/SMART-Scheduler" class="link">SmartScheduler</a>
                <span class="description">DRL-based MAC scheduler for massive MIMO</span>
            </div>
            <div class="item">
                <a target="_blank" rel="noreferrer" href="https://github.com/wang-anthony03/TravelTinder" class="link">Triplet</a>
                <span class="description">A group travel planning tool</span>
            </div>
            <br>
            <br>
	</body>
    <Footer />
</html>
