---
import '../styles/global.css';
import Navigation from '../components/navigation.astro';
import Footer from '../components/footer.astro';
const pageTitle = "Thoughts";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="content">
		<h1>{pageTitle}</h1>
        <Navigation />
        
        <div class="container">
            <div class="post">
                <a href="/posts/post-1/" class="post-link">Post 1</a>
                <span class="date">2024/07/16</span>
            </div>
            
            <br>
            <br>
            
	</body>
    <Footer />
</html>
