---
---

<footer>
    <nl></nl>
    <a href={`https://github.com/wang-anthony03`}>GitHub</a>·
    <a href={`https://www.linkedin.com/in/anthony-wang-217510267/`}>LinkedIn</a>·
    <a href="mailto:anthonywang513@gmail.com">anthonywang513@gmail.com</a>
</footer>