---
import '../styles/global.css';
const { frontmatter } = Astro.props;
import Footer from '../components/footer.astro';
---
<html lang="en">
    <head>		
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    </head>
  <body class="post-content">
    <div>
        <h3>{frontmatter.title}</h3>
        <div style='display: flex; justify-content: space-between;'>
            <p class="description">{frontmatter.author}, {frontmatter.pubDate.toString().slice(0,10)}</p>
            <a style='display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                text-align: right;' class='nav-link' href="/">Back</a>
        </div>
        <slot />
    </div>
  </body>
  <Footer />
</html>
